# Ignore Presto Server tar.gz file if you download it to make the build faster.
presto-server-*.tar.gz

# So far, ignore the data directories. They are used as shared volumes between containers.
*/data/*
